* {
    text-align: center;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(#ccc, #eeeeee);
    background-repeat: no-repeat;
}

button {
    margin: 10px;
}

.btn {
    float: right;
}

#cityName {
    width: 100%;
    float: left;
    font-weight: bold;
}

#city::after {
    content: "";
    display: block;
    clear: both;
   
}

#weatherData {
    background-color: rgb(255, 255, 255, .3);
    border-radius: 15px;
    padding: 15px;
}

table { 
    border-spacing: 10px;
    border-collapse: separate;
}

td {
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
}

li {
    font-size: 14px;
}